.slider {

    position: relative;
    box-shadow: 3px 5px 5px 1px rgba(53, 64, 11, 0.805), 0 1px 3px rgba(117, 171, 29, 0.3);
}




.slider .slides .item {

    position: relative;
    display: none;

}



.slider .slides .item img {
    width: 100%;
    height: 550px;

}

.slider .slides .item span {
    position: absolute;
    right: 40%;
    top: 30%;
    color: whitesmoke;
    font-size: 1.5em;
}

.slider .slides .active {
    display: block;
    animation-name: fadeIn;
    animation-duration: 2ms;
}

.slider .buttons {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}

.slider .buttons i {
    margin-right: 5px;
    cursor: pointer;
    color: white;

}

.slider .buttons i:hover {
    color: rgba(144, 16, 16, 0.773);
    ;
}